  <!DOCTYPE html>
  <html lang="en">

    <head>
      <title>Online Discussion Modeling</title>
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>

    <!-- Header-->
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Wikipedia DeTox</h1>
        <h5>A collection of machine learning classifiers for detecting toxicity in Wikipedia discussions</h5>
        </div>
    </div>
    
    <div class="container-fluid">


    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        <form action="" method="POST" role="form">

        <div class="form-group">
          <h4>Select a model:</h4>
          <input type="radio" name="mtype" value="attack" checked /> Attack <br />
          <input type="radio" name="mtype" value="aggression" /> Aggression <br />
        </div>

        <div class="form-group" id='itype'>
          <h4>Select Input Type:</h4>
          <input type="radio" name="itype" value="Comment Text" checked/> Text <br />
          <input type="radio" name="itype" value="Revision ID" /> Revision ID <br />
        </div>
        
        <div class="form-group" id='input'>
          <textarea class="form-control" id="model-input" placeholder="Comment Text"></textarea>
          </br>
          <button type="button" class="btn btn-primary" id="model-submit">Score</button>
          </br></br>
          <div id='model-score'>
          </div>
        </div>
      </form>
    </div>
  </div>


  </div>


    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script> 
    <script src="static/js/score.js"></script> 
  </html>


